body {
    display: flex;
    justify-content: center;
    align-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    color: grey;
    background-color: grey;
    width: 450px;
    height: 750px;
    justify-content: center;
}
#display {
    border: 1px solid black;
    min-height: 200px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

button {
    height: 80px;
    width: 80px;
    margin-top: 20px;
    margin-left: 20px;
}

.seven-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
}
